/*
 * Use extreme selector specificity to override the default bindings,
 * defined in chrome://browser/content/browser.css, which use the single
 * id selector #PopupAutoCompleteRichResult.
 */
popupset#mainPopupSet panel#PopupAutoCompleteRichResult {
  /*
   * This odd CSS property connects an XBL file with XUL DOM.
   * See mdn.io/moz-binding for more.
   */
  -moz-binding: url("chrome://universalsearch/content/binding.xml#recommendation-popup");
}

/*
 * Same specificity trick here, to override the default bindings for the
 * urlbar, also defined in chrome://browser/content/browser.css, which use
 * the single id selector #urlbar.
 */
textbox#urlbar {
  -moz-binding: url("chrome://universalsearch/content/binding.xml#recommendation-urlbar");
}

popupset#mainPopupSet panel#PopupAutoCompleteRichResult richlistbox {
  -moz-binding: url("chrome://universalsearch/content/binding.xml#autocomplete-richlistbox");
}

#universal-search-recommendation {
  background-color: Highlight;
  color: HighlightText;

  border-bottom: none;
  display: flex;
  padding: 8px 15px 8px 9px;
  width: 100%;
}

%ifdef XP_WIN
@media (-moz-os-version: windows-vista) and (-moz-windows-default-theme),
       (-moz-os-version: windows-win7) and (-moz-windows-default-theme) {
  .autocomplete-richlistitem[selected="true"] {
    color: inherit;
    background-color: transparent;
    /* four gradients for the bevel highlights on each edge, one for blue background */
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0.9) 3px, transparent 3px),
      linear-gradient(to right, rgba(255,255,255,0.5) 3px, transparent 3px),
      linear-gradient(to left, rgba(255,255,255,0.5) 3px, transparent 3px),
      linear-gradient(to top, rgba(255,255,255,0.4) 3px, transparent 3px),
      linear-gradient(to bottom, rgba(163,196,247,0.3), rgba(122,180,246,0.3));
    background-clip: content-box;
    border-radius: 6px;
    outline: 1px solid rgb(124,163,206);
    -moz-outline-radius: 3px;
    outline-offset: -2px;
  }
}
%endif

#universal-search-recommendation[collapsed="true"] {
  border: 0;
}

#universal-search-recommendation-container {
  display: flex;
  width: 100%;
}

#universal-search-recommendation-favicon {
  flex-shrink: 0;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

#universal-search-recommendation-image,
#universal-search-recommendation-letterbox {
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  height: 32px;
  margin-right: 8px;
  overflow: hidden;
  width: 32px;
}

#universal-search-recommendation-logo,
#universal-search-recommendation-keyimage {
  position: relative;
  z-index: -1;
}

#universal-search-recommendation-logo {
  height: 32px;
  width: 32px;
}

#universal-search-recommendation-letterbox {
  align-items: center;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: #FFF;
  display: flex;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 200;
  justify-content: center;
  overflow: hidden;
  text-transform: uppercase;
}

#universal-search-recommendation-letterbox.color-orange {
  background: #F25820;
}
#universal-search-recommendation-letterbox.color-lightorange {
  background: #FF9217;
}
#universal-search-recommendation-letterbox.color-magenta {
  background: #EA385F;
}
#universal-search-recommendation-letterbox.color-purple {
  background: #7A2F7A;
}
#universal-search-recommendation-letterbox.color-green {
  background: #58BD35;
}
#universal-search-recommendation-letterbox.color-red {
  background: #D92215;
}
#universal-search-recommendation-letterbox.color-blue {
  background: #077BD7;
}
#universal-search-recommendation-letterbox.color-teal {
  background: #02BDAD;
}
#universal-search-recommendation-letterbox.color-grey {
  background: #D4D4D4;
  color: #000;
}

#universal-search-recommendation-content {
  flex-grow: 1;
  min-width: 0;
}

#universal-search-recommendation-title,
#universal-search-recommendation-url {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#universal-search-recommendation-url {
  visibility: visible;
}

#universal-search-recommendation-title,
#universal-search-recommendation-label {
  font-size: 13px;
  line-height: 17px;
}

#universal-search-recommendation-label {
  color: #BBB;
  flex-grow: 1;
  margin-left: 8px;
  text-align: right;
}

/* highlight color, applied when the recommendation is highlighted */

#universal-search-recommendation.highlight {
  background-color: Highlight;
  background-image: linear-gradient(rgba(255,255,255,0.3), transparent);
  color: HighlightText;
}
#universal-search-recommendation.highlight #universal-search-recommendation-url {
  color: HighlightText;
}
#universal-search-recommendation.highlight #universal-search-recommendation-label {
  color: HighlightText;
  opacity: 0.67;
}
#universal-search-recommendation.highlight #universal-search-recommendation-image {
  background-color: #FFF;
  box-shadow: 0;
}
#universal-search-recommendation.highlight #universal-search-recommendation-logo,
#universal-search-recommendation.highlight #universal-search-recommendation-keyimage {
  z-index: 1;
}
